<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleIdentifier</key>
		<string>com.apple.xcode.dsym.libavcodec.dylib</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>dSYM</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>dSYM_UUID</key>
		<dict>
			<key>i386</key>
			<string>60 b1 5c 71 56 79 88 01  d2 f2 79 b2 d8 02 11 59</string>
			<key>ppc</key>
			<string>a0 9e 3f 94 b9 75 41 09  86 81 50 d9 e6 fb 27 6b</string>
		</dict>
	</dict>
</plist>
