<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Patch Archives</key>
	<dict>
		<key>jspit</key>
		<dict>
			<key>Data Archives</key>
			<array>
				<string>j_Data3.MHK</string>
			</array>
		</dict>
		<key>bspit</key>
		<dict>
			<key>Data Archives</key>
			<array>
				<string>b_Data1.MHK</string>
			</array>
		</dict>
	</dict>
	<key>Edition</key>
	<dict>
		<key>Directories</key>
		<dict>
			<key>All</key>
			<string>All</string>
			<key>Data</key>
			<string>Data</string>
			<key>Sound</key>
			<string>Assets1</string>
		</dict>
		<key>Discs</key>
		<array>
			<string>Riven1</string>
			<string>Riven2</string>
			<string>Riven3</string>
			<string>Riven4</string>
			<string>Riven5</string>
		</array>
		<key>Install Directives</key>
		<array>
			<dict>
				<key>Directive</key>
				<string>StackSoundCopy</string>
				<key>Disc</key>
				<integer>0</integer>
				<key>Required</key>
				<true/>
			</dict>
			<dict>
				<key>Directive</key>
				<string>StackDataCopy</string>
				<key>Include</key>
				<string>aspit</string>
				<key>Required</key>
				<true/>
			</dict>
			<dict>
				<key>Directive</key>
				<string>StackDataCopy</string>
				<key>Exclude</key>
				<string>aspit</string>
				<key>Required</key>
				<true/>
			</dict>
		</array>
		<key>Key</key>
		<string>CD_EDITION</string>
	</dict>
	<key>Stacks</key>
	<dict>
		<key>aspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>8</integer>
		</dict>
		<key>bspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>5</integer>
		</dict>
		<key>gspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>6</integer>
		</dict>
		<key>jspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>7</integer>
		</dict>
		<key>ospit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1</integer>
		</dict>
		<key>pspit</key>
		<dict>
			<key>Entry</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>2</integer>
		</dict>
		<key>rspit</key>
		<dict>
			<key>Entry</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>3</integer>
		</dict>
		<key>tspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>Journals</key>
	<dict>
		<key>Card ID Map</key>
		<dict>
			<key>Atrus</key>
			<integer>5</integer>
			<key>Catherine</key>
			<integer>6</integer>
			<key>Prison</key>
			<integer>7</integer>
		</dict>
	</dict>
</dict>
</plist>
