<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Edition</key>
	<dict>
		<key>Directories</key>
		<dict>
			<key>All</key>
			<string>Data</string>
			<key>Data</key>
			<string>Data</string>
			<key>Sound</key>
			<string>Data</string>
		</dict>
		<key>Discs</key>
		<array>
			<string>Riven</string>
		</array>
		<key>Install Directives</key>
		<array>
			<dict>
				<key>Directive</key>
				<string>StackCopy</string>
				<key>Required</key>
				<false/>
			</dict>
		</array>
		<key>Key</key>
		<string>DVD_EDITION</string>
	</dict>
	<key>Stacks</key>
	<dict>
		<key>aspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>8</integer>
		</dict>
		<key>bspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>5</integer>
		</dict>
		<key>gspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>6</integer>
		</dict>
		<key>jspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>7</integer>
		</dict>
		<key>ospit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1</integer>
		</dict>
		<key>pspit</key>
		<dict>
			<key>Entry</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>2</integer>
		</dict>
		<key>rspit</key>
		<dict>
			<key>Entry</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>3</integer>
		</dict>
		<key>tspit</key>
		<dict>
			<key>Entry</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
