<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Books</key>
	<dict>
		<key>Athrus</key>
		<integer>101</integer>
		<key>Catherine</key>
		<integer>102</integer>
		<key>Link</key>
		<integer>100</integer>
	</dict>
	<key>Credits</key>
	<dict>
		<key>Scrolling Frames Range</key>
		<string>{304, 17}</string>
		<key>Still Frames</key>
		<array>
			<integer>302</integer>
			<integer>303</integer>
		</array>
	</dict>
	<key>Marbles</key>
	<dict>
		<key>Blue</key>
		<integer>204</integer>
		<key>Green</key>
		<integer>203</integer>
		<key>Orange</key>
		<integer>201</integer>
		<key>Purple</key>
		<integer>205</integer>
		<key>Red</key>
		<integer>200</integer>
		<key>Yellow</key>
		<integer>202</integer>
	</dict>
</dict>
</plist>
