<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acathpage</key>
	<integer>0</integer>
	<key>aatruspage</key>
	<integer>0</integer>
	<key>newpos</key>
	<integer>0</integer>
	<key>aatrusbook</key>
	<integer>1</integer>
	<key>acathbook</key>
	<integer>1</integer>
	<key>acathstate</key>
	<integer>0</integer>
	<key>adoit</key>
	<integer>0</integer>
	<key>adomecombo</key>
	<integer>-1</integer>
	<key>agehn</key>
	<integer>0</integer>
	<key>ainventory</key>
	<integer>1</integer>
	<key>aova</key>
	<integer>0</integer>
	<key>apower</key>
	<integer>0</integer>
	<key>araw</key>
	<integer>0</integer>
	<key>atemp</key>
	<integer>0</integer>
	<key>atrap</key>
	<integer>0</integer>
	<key>atrapbook</key>
	<integer>0</integer>
	<key>auservolume</key>
	<integer>0</integer>
	<key>all_book</key>
	<integer>0</integer>
	<key>bbacklock</key>
	<integer>0</integer>
	<key>bbait</key>
	<integer>0</integer>
	<key>bbigbridge</key>
	<integer>0</integer>
	<key>bbirds</key>
	<integer>0</integer>
	<key>bblrarm</key>
	<integer>0</integer>
	<key>bblrdoor</key>
	<integer>0</integer>
	<key>bblrgrt</key>
	<integer>0</integer>
	<key>bblrsw</key>
	<integer>1</integer>
	<key>bblrvalve</key>
	<integer>1</integer>
	<key>bblrwtr</key>
	<integer>1</integer>
	<key>bbook</key>
	<integer>0</integer>
	<key>bbrlever</key>
	<integer>0</integer>
	<key>bcpipegr</key>
	<integer>0</integer>
	<key>bcavedoor</key>
	<integer>0</integer>
	<key>bcratergg</key>
	<integer>0</integer>
	<key>bdome</key>
	<integer>0</integer>
	<key>bdrwr</key>
	<integer>0</integer>
	<key>bfmdoor</key>
	<integer>0</integer>
	<key>bfans</key>
	<integer>1</integer>
	<key>bfrontlock</key>
	<integer>0</integer>
	<key>bheat</key>
	<integer>1</integer>
	<key>bidvlv</key>
	<integer>1</integer>
	<key>blab</key>
	<integer>0</integer>
	<key>blabbackdr</key>
	<integer>0</integer>
	<key>blabbook</key>
	<integer>0</integer>
	<key>blabeye</key>
	<integer>0</integer>
	<key>blabfrontdr</key>
	<integer>0</integer>
	<key>blabpage</key>
	<integer>1</integer>
	<key>blever</key>
	<integer>0</integer>
	<key>bmagcar</key>
	<integer>1</integer>
	<key>bpipdr</key>
	<integer>0</integer>
	<key>bprs</key>
	<integer>0</integer>
	<key>bstove</key>
	<integer>0</integer>
	<key>btrap</key>
	<integer>0</integer>
	<key>bvalve</key>
	<integer>0</integer>
	<key>bvise</key>
	<integer>1</integer>
	<key>bytram</key>
	<integer>0</integer>
	<key>bytramtime</key>
	<integer>0</integer>
	<key>bytrap</key>
	<integer>2</integer>
	<key>bytrapped</key>
	<integer>0</integer>
	<key>bcombo</key>
	<integer>0</integer>
	<key>domecheck</key>
	<integer>0</integer>
	<key>elevbtn1</key>
	<integer>0</integer>
	<key>elevbtn2</key>
	<integer>0</integer>
	<key>elevbtn3</key>
	<integer>0</integer>
	<key>gbook</key>
	<integer>0</integer>
	<key>gcathstate</key>
	<integer>0</integer>
	<key>gcathtime</key>
	<integer>0</integer>
	<key>gdome</key>
	<integer>0</integer>
	<key>gemagcar</key>
	<integer>1</integer>
	<key>gimagecurr</key>
	<integer>1</integer>
	<key>gimagerot</key>
	<integer>1</integer>
	<key>glview</key>
	<integer>0</integer>
	<key>glviewmpos</key>
	<integer>0</integer>
	<key>glviewpos</key>
	<integer>0</integer>
	<key>glkbridge</key>
	<integer>1</integer>
	<key>glkbtns</key>
	<integer>0</integer>
	<key>glkelev</key>
	<integer>0</integer>
	<key>gnmagcar</key>
	<integer>1</integer>
	<key>gnmagrot</key>
	<integer>0</integer>
	<key>gpinpos</key>
	<integer>1</integer>
	<key>gpinup</key>
	<integer>0</integer>
	<key>gpinsmpos</key>
	<integer>0</integer>
	<key>grview</key>
	<integer>0</integer>
	<key>grviewmpos</key>
	<integer>1617</integer>
	<key>grviewpos</key>
	<integer>2</integer>
	<key>gscribe</key>
	<integer>0</integer>
	<key>gsubdr</key>
	<integer>0</integer>
	<key>gsubelev</key>
	<integer>0</integer>
	<key>gupmoov</key>
	<integer>0</integer>
	<key>gwhark</key>
	<integer>0</integer>
	<key>gwharktime</key>
	<integer>0</integer>
	<key>gimagemax</key>
	<integer>1</integer>
	<key>jbeetle</key>
	<integer>1</integer>
	<key>jbeetlepool</key>
	<integer>0</integer>
	<key>jbook</key>
	<integer>0</integer>
	<key>jbridge1</key>
	<integer>1</integer>
	<key>jbridge2</key>
	<integer>0</integer>
	<key>jbridge3</key>
	<integer>0</integer>
	<key>jbridge4</key>
	<integer>1</integer>
	<key>jbridge5</key>
	<integer>0</integer>
	<key>jccb</key>
	<integer>0</integer>
	<key>jcrg</key>
	<integer>1</integer>
	<key>jdome</key>
	<integer>0</integer>
	<key>jdrain</key>
	<integer>0</integer>
	<key>jgallows</key>
	<integer>1</integer>
	<key>jgate</key>
	<integer>0</integer>
	<key>jgirl</key>
	<integer>0</integer>
	<key>jiconcorrectorder</key>
	<integer>-1</integer>
	<key>jiconorder</key>
	<integer>0</integer>
	<key>jicons</key>
	<integer>0</integer>
	<key>jladder</key>
	<integer>0</integer>
	<key>jleftpos</key>
	<integer>0</integer>
	<key>jprebel</key>
	<integer>0</integer>
	<key>jpeek</key>
	<integer>0</integer>
	<key>jplaybeetle</key>
	<integer>0</integer>
	<key>jprisondr</key>
	<integer>0</integer>
	<key>jprisonsecdr</key>
	<integer>0</integer>
	<key>jrightpos</key>
	<integer>0</integer>
	<key>jschooldr</key>
	<integer>0</integer>
	<key>jsouthpathdr</key>
	<integer>0</integer>
	<key>jsub</key>
	<integer>0</integer>
	<key>jsubdir</key>
	<integer>0</integer>
	<key>jsubhatch</key>
	<integer>0</integer>
	<key>jsubsw</key>
	<integer>0</integer>
	<key>jsunnertime</key>
	<integer>0</integer>
	<key>jsunners</key>
	<integer>0</integer>
	<key>jthronedr</key>
	<integer>0</integer>
	<key>jtunneldr</key>
	<integer>0</integer>
	<key>jtunnellamps</key>
	<integer>0</integer>
	<key>jvillagepeople</key>
	<integer>0</integer>
	<key>jwmagcar</key>
	<integer>0</integer>
	<key>jwmouth</key>
	<integer>0</integer>
	<key>jwarning</key>
	<integer>0</integer>
	<key>jwharkpos</key>
	<integer>1</integer>
	<key>jwharkram</key>
	<integer>0</integer>
	<key>jymagcar</key>
	<integer>0</integer>
	<key>jrbook</key>
	<integer>0</integer>
	<key>obutton</key>
	<integer>0</integer>
	<key>odeskbook</key>
	<integer>0</integer>
	<key>ogehnpage</key>
	<integer>1</integer>
	<key>omusicplayer</key>
	<integer>1</integer>
	<key>ostanddrawer</key>
	<integer>0</integer>
	<key>ostove</key>
	<integer>0</integer>
	<key>oambient</key>
	<integer>0</integer>
	<key>ocage</key>
	<integer>1</integer>
	<key>pbook</key>
	<integer>0</integer>
	<key>pcage</key>
	<integer>0</integer>
	<key>pcathcheck</key>
	<integer>0</integer>
	<key>pcathstate</key>
	<integer>0</integer>
	<key>pcathtime</key>
	<integer>0</integer>
	<key>pcorrectorder</key>
	<integer>-1</integer>
	<key>pelevcombo</key>
	<integer>0</integer>
	<key>pleftpos</key>
	<integer>0</integer>
	<key>prightpos</key>
	<integer>0</integer>
	<key>ptemp</key>
	<integer>0</integer>
	<key>pwharkpos</key>
	<integer>0</integer>
	<key>pdome</key>
	<integer>0</integer>
	<key>playerhasbook</key>
	<integer>0</integer>
	<key>rrebel</key>
	<integer>0</integer>
	<key>rrebelview</key>
	<integer>0</integer>
	<key>rrichard</key>
	<integer>0</integer>
	<key>rvillagetime</key>
	<integer>0</integer>
	<key>tbars</key>
	<integer>0</integer>
	<key>tbeetle</key>
	<integer>0</integer>
	<key>tblue</key>
	<integer>0</integer>
	<key>tbook</key>
	<integer>0</integer>
	<key>tbookvalve</key>
	<integer>0</integer>
	<key>tcage</key>
	<integer>0</integer>
	<key>tcorrectorder</key>
	<integer>-1</integer>
	<key>tcovercombo</key>
	<integer>0</integer>
	<key>tdl</key>
	<integer>1</integer>
	<key>tdome</key>
	<integer>0</integer>
	<key>tdomeelev</key>
	<integer>1</integer>
	<key>tdomeelevbtn</key>
	<integer>0</integer>
	<key>tgridoor</key>
	<integer>0</integer>
	<key>tgrmdoor</key>
	<integer>0</integer>
	<key>tgrodoor</key>
	<integer>0</integer>
	<key>tgatebrhandle</key>
	<integer>0</integer>
	<key>tgatebridge</key>
	<integer>0</integer>
	<key>tgatestate</key>
	<integer>1</integer>
	<key>tgreen</key>
	<integer>0</integer>
	<key>tguard</key>
	<integer>0</integer>
	<key>timagedoor</key>
	<integer>0</integer>
	<key>tmagcar</key>
	<integer>0</integer>
	<key>torange</key>
	<integer>0</integer>
	<key>tred</key>
	<integer>0</integer>
	<key>tsecdoor</key>
	<integer>0</integer>
	<key>tsubbridge</key>
	<integer>0</integer>
	<key>ttelecover</key>
	<integer>0</integer>
	<key>ttelehandle</key>
	<integer>0</integer>
	<key>ttelepin</key>
	<integer>0</integer>
	<key>ttelevalve</key>
	<integer>0</integer>
	<key>ttelescope</key>
	<integer>5</integer>
	<key>ttemple</key>
	<integer>0</integer>
	<key>ttempledoor</key>
	<integer>0</integer>
	<key>ttunneldoor</key>
	<integer>0</integer>
	<key>tviewer</key>
	<integer>0</integer>
	<key>tviolet</key>
	<integer>0</integer>
	<key>twabrvalve</key>
	<integer>0</integer>
	<key>twaffle</key>
	<integer>0</integer>
	<key>tyellow</key>
	<integer>0</integer>
	<key>themarble</key>
	<integer>0</integer>
</dict>
</plist>
