DYLIB_COMPATIBILITY_VERSION = 1;
DYLIB_CURRENT_VERSION = 1;
FRAMEWORK_VERSION = A;
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) __STDC_LIMIT_MACROS;
HEADER_SEARCH_PATHS = "$(SRCROOT)/ffmpeg" $(HEADER_SEARCH_PATHS);
INFOPLIST_FILE = Info.plist;
INSTALL_PATH = @executable_path/../Frameworks;
LIBRARY_SEARCH_PATHS = "$(SRCROOT)/ffmpeg" $(HEADER_SEARCH_PATHS);
OTHER_LDFLAGS = -lz -lbz2 -lcrypto;
PRODUCT_NAME = MHKKit;
STRIP_STYLE = non-global;
WRAPPER_EXTENSION = framework;
