<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>212</key>
	<integer>654311463</integer>
	<key>213</key>
	<integer>603979812</integer>
	<key>214</key>
	<integer>553648161</integer>
	<key>215</key>
	<integer>33619971</integer>
	<key>216</key>
	<integer>452984859</integer>
	<key>217</key>
	<integer>402653208</integer>
	<key>218</key>
	<integer>352321557</integer>
	<key>219</key>
	<integer>301989906</integer>
	<key>CurrentCardID</key>
	<integer>215</integer>
	<key>CurrentStackID</key>
	<integer>7</integer>
	<key>DoingSetupScreens</key>
	<integer>0</integer>
	<key>NewPos</key>
	<integer>0</integer>
	<key>RivenAmbients</key>
	<integer>1</integer>
	<key>aAtrusBook</key>
	<integer>1</integer>
	<key>aCathBook</key>
	<integer>1</integer>
	<key>aCathState</key>
	<integer>0</integer>
	<key>aDoIt</key>
	<integer>0</integer>
	<key>aDomeCombo</key>
	<integer>8399424</integer>
	<key>aGehn</key>
	<integer>0</integer>
	<key>aInventory</key>
	<integer>1</integer>
	<key>aOva</key>
	<integer>0</integer>
	<key>aPower</key>
	<integer>0</integer>
	<key>aRaw</key>
	<integer>0</integer>
	<key>aTemp</key>
	<integer>0</integer>
	<key>aTrap</key>
	<integer>0</integer>
	<key>aTrapBook</key>
	<integer>0</integer>
	<key>aUserVolume</key>
	<integer>0</integer>
	<key>aZip</key>
	<integer>0</integer>
	<key>all_book</key>
	<integer>0</integer>
	<key>bBackLock</key>
	<integer>0</integer>
	<key>bBait</key>
	<integer>0</integer>
	<key>bBigBridge</key>
	<integer>0</integer>
	<key>bBirds</key>
	<integer>0</integer>
	<key>bBlrArm</key>
	<integer>0</integer>
	<key>bBlrDoor</key>
	<integer>0</integer>
	<key>bBlrGrt</key>
	<integer>0</integer>
	<key>bBlrSw</key>
	<integer>1</integer>
	<key>bBlrValve</key>
	<integer>1</integer>
	<key>bBlrWtr</key>
	<integer>1</integer>
	<key>bBook</key>
	<integer>0</integer>
	<key>bBrLever</key>
	<integer>0</integer>
	<key>bCPipeGr</key>
	<integer>0</integer>
	<key>bCaveDoor</key>
	<integer>0</integer>
	<key>bCraterGg</key>
	<integer>0</integer>
	<key>bDome</key>
	<integer>0</integer>
	<key>bDrwr</key>
	<integer>0</integer>
	<key>bFMDoor</key>
	<integer>0</integer>
	<key>bFans</key>
	<integer>1</integer>
	<key>bFrontLock</key>
	<integer>0</integer>
	<key>bHeat</key>
	<integer>1</integer>
	<key>bIdVlv</key>
	<integer>1</integer>
	<key>bLab</key>
	<integer>0</integer>
	<key>bLabBackDr</key>
	<integer>0</integer>
	<key>bLabBook</key>
	<integer>0</integer>
	<key>bLabEye</key>
	<integer>0</integer>
	<key>bLabFrontDr</key>
	<integer>0</integer>
	<key>bLabPage</key>
	<integer>1</integer>
	<key>bLever</key>
	<integer>0</integer>
	<key>bMagCar</key>
	<integer>1</integer>
	<key>bPipDr</key>
	<integer>0</integer>
	<key>bPrs</key>
	<integer>0</integer>
	<key>bStove</key>
	<integer>0</integer>
	<key>bTrap</key>
	<integer>0</integer>
	<key>bValve</key>
	<integer>0</integer>
	<key>bVise</key>
	<integer>1</integer>
	<key>bYtram</key>
	<integer>0</integer>
	<key>bYtramTime</key>
	<integer>0</integer>
	<key>bYtrap</key>
	<integer>2</integer>
	<key>bYtrapped</key>
	<integer>0</integer>
	<key>bcombo</key>
	<integer>0</integer>
	<key>domeCheck</key>
	<integer>0</integer>
	<key>elevbtn1</key>
	<integer>0</integer>
	<key>elevbtn2</key>
	<integer>0</integer>
	<key>elevbtn3</key>
	<integer>0</integer>
	<key>gBook</key>
	<integer>0</integer>
	<key>gCathState</key>
	<integer>0</integer>
	<key>gCathTime</key>
	<integer>0</integer>
	<key>gDome</key>
	<integer>0</integer>
	<key>gEmagCar</key>
	<integer>1</integer>
	<key>gImageCurr</key>
	<integer>1</integer>
	<key>gImageRot</key>
	<integer>1</integer>
	<key>gLView</key>
	<integer>0</integer>
	<key>gLViewMPos</key>
	<integer>0</integer>
	<key>gLViewPos</key>
	<integer>0</integer>
	<key>gLkBridge</key>
	<integer>1</integer>
	<key>gLkBtns</key>
	<integer>0</integer>
	<key>gLkElev</key>
	<integer>0</integer>
	<key>gNmagCar</key>
	<integer>1</integer>
	<key>gNmagRot</key>
	<integer>0</integer>
	<key>gPinPos</key>
	<integer>1</integer>
	<key>gPinUp</key>
	<integer>0</integer>
	<key>gPinsMPos</key>
	<integer>0</integer>
	<key>gRView</key>
	<integer>0</integer>
	<key>gRViewMPos</key>
	<integer>1617</integer>
	<key>gRViewPos</key>
	<integer>2</integer>
	<key>gScribe</key>
	<integer>0</integer>
	<key>gSubDr</key>
	<integer>0</integer>
	<key>gSubElev</key>
	<integer>0</integer>
	<key>gUpMoov</key>
	<integer>0</integer>
	<key>gWhark</key>
	<integer>0</integer>
	<key>gWharkTime</key>
	<integer>0</integer>
	<key>gimagemax</key>
	<integer>1</integer>
	<key>jBeetle</key>
	<integer>1</integer>
	<key>jBeetlePool</key>
	<integer>0</integer>
	<key>jBook</key>
	<integer>0</integer>
	<key>jBridge1</key>
	<integer>1</integer>
	<key>jBridge2</key>
	<integer>0</integer>
	<key>jBridge3</key>
	<integer>0</integer>
	<key>jBridge4</key>
	<integer>1</integer>
	<key>jBridge5</key>
	<integer>0</integer>
	<key>jCCB</key>
	<integer>0</integer>
	<key>jCombo</key>
	<integer>32505856</integer>
	<key>jCrg</key>
	<integer>1</integer>
	<key>jDome</key>
	<integer>0</integer>
	<key>jDrain</key>
	<integer>0</integer>
	<key>jGallows</key>
	<integer>1</integer>
	<key>jGate</key>
	<integer>0</integer>
	<key>jGirl</key>
	<integer>0</integer>
	<key>jIconCorrectOrder</key>
	<integer>12068577</integer>
	<key>jIconOrder</key>
	<integer>0</integer>
	<key>jIcons</key>
	<integer>0</integer>
	<key>jLadder</key>
	<integer>0</integer>
	<key>jLeftPos</key>
	<integer>0</integer>
	<key>jPRebel</key>
	<integer>0</integer>
	<key>jPeek</key>
	<integer>0</integer>
	<key>jPlayBeetle</key>
	<integer>0</integer>
	<key>jPrisonDr</key>
	<integer>0</integer>
	<key>jPrisonSecDr</key>
	<integer>0</integer>
	<key>jRightPos</key>
	<integer>0</integer>
	<key>jSchoolDr</key>
	<integer>0</integer>
	<key>jSouthPathDr</key>
	<integer>0</integer>
	<key>jSub</key>
	<integer>0</integer>
	<key>jSubDir</key>
	<integer>0</integer>
	<key>jSubHatch</key>
	<integer>0</integer>
	<key>jSubSw</key>
	<integer>0</integer>
	<key>jSunnerTime</key>
	<integer>0</integer>
	<key>jSunners</key>
	<integer>0</integer>
	<key>jThroneDr</key>
	<integer>0</integer>
	<key>jTunnelDr</key>
	<integer>1</integer>
	<key>jTunnelLamps</key>
	<integer>4</integer>
	<key>jVillagePeople</key>
	<integer>0</integer>
	<key>jWMagCar</key>
	<integer>0</integer>
	<key>jWMouth</key>
	<integer>0</integer>
	<key>jWarning</key>
	<integer>0</integer>
	<key>jWharkPos</key>
	<integer>1</integer>
	<key>jWharkRam</key>
	<integer>0</integer>
	<key>jYMagCar</key>
	<integer>0</integer>
	<key>jrBook</key>
	<integer>0</integer>
	<key>oButton</key>
	<integer>0</integer>
	<key>oDeskBook</key>
	<integer>0</integer>
	<key>oGehnPage</key>
	<integer>1</integer>
	<key>oMusicPlayer</key>
	<integer>1</integer>
	<key>oStandDrawer</key>
	<integer>0</integer>
	<key>oStove</key>
	<integer>0</integer>
	<key>oambient</key>
	<integer>0</integer>
	<key>ocage</key>
	<integer>1</integer>
	<key>pBook</key>
	<integer>0</integer>
	<key>pCage</key>
	<integer>0</integer>
	<key>pCathCheck</key>
	<integer>0</integer>
	<key>pCathState</key>
	<integer>0</integer>
	<key>pCathTime</key>
	<integer>0</integer>
	<key>pCorrectOrder</key>
	<integer>33223</integer>
	<key>pElevCombo</key>
	<integer>0</integer>
	<key>pLeftPos</key>
	<integer>0</integer>
	<key>pRightPos</key>
	<integer>0</integer>
	<key>pTemp</key>
	<integer>0</integer>
	<key>pWharkPos</key>
	<integer>0</integer>
	<key>pdome</key>
	<integer>0</integer>
	<key>playerHasBook</key>
	<integer>0</integer>
	<key>rRebel</key>
	<integer>0</integer>
	<key>rRebelView</key>
	<integer>0</integer>
	<key>rRichard</key>
	<integer>0</integer>
	<key>rVillageTime</key>
	<integer>0</integer>
	<key>returnCardID</key>
	<integer>27575</integer>
	<key>returnStackID</key>
	<integer>4</integer>
	<key>stackVarsInitialized</key>
	<integer>1</integer>
	<key>tBars</key>
	<integer>0</integer>
	<key>tBeetle</key>
	<integer>0</integer>
	<key>tBlue</key>
	<integer>0</integer>
	<key>tBook</key>
	<integer>0</integer>
	<key>tBookValve</key>
	<integer>0</integer>
	<key>tCage</key>
	<integer>1</integer>
	<key>tCombo</key>
	<integer>32505856</integer>
	<key>tCorrectOrder</key>
	<integer>42142</integer>
	<key>tCoverCombo</key>
	<integer>0</integer>
	<key>tDL</key>
	<integer>1</integer>
	<key>tDome</key>
	<integer>0</integer>
	<key>tDomeElev</key>
	<integer>1</integer>
	<key>tDomeElevBtn</key>
	<integer>0</integer>
	<key>tGRIDoor</key>
	<integer>0</integer>
	<key>tGRMDoor</key>
	<integer>0</integer>
	<key>tGRODoor</key>
	<integer>0</integer>
	<key>tGateBrHandle</key>
	<integer>0</integer>
	<key>tGateBridge</key>
	<integer>0</integer>
	<key>tGateState</key>
	<integer>1</integer>
	<key>tGreen</key>
	<integer>0</integer>
	<key>tGuard</key>
	<integer>0</integer>
	<key>tImageDoor</key>
	<integer>0</integer>
	<key>tMagCar</key>
	<integer>0</integer>
	<key>tOrange</key>
	<integer>0</integer>
	<key>tRed</key>
	<integer>0</integer>
	<key>tSecDoor</key>
	<integer>0</integer>
	<key>tSubBridge</key>
	<integer>0</integer>
	<key>tTeleCover</key>
	<integer>0</integer>
	<key>tTeleHandle</key>
	<integer>0</integer>
	<key>tTelePin</key>
	<integer>0</integer>
	<key>tTeleValve</key>
	<integer>0</integer>
	<key>tTelescope</key>
	<integer>5</integer>
	<key>tTemple</key>
	<integer>0</integer>
	<key>tTempleDoor</key>
	<integer>0</integer>
	<key>tTunnelDoor</key>
	<integer>0</integer>
	<key>tViewer</key>
	<integer>0</integer>
	<key>tViolet</key>
	<integer>0</integer>
	<key>tWaBrValve</key>
	<integer>0</integer>
	<key>tWaffle</key>
	<integer>0</integer>
	<key>tYellow</key>
	<integer>0</integer>
	<key>theMarble</key>
	<integer>0</integer>
	<key>transitionMode</key>
	<integer>5001</integer>
	<key>transitionsEnabled</key>
	<integer>1</integer>
	<key>waterEnabled</key>
	<integer>1</integer>
</dict>
</plist>
