ALWAYS_SEARCH_USER_PATHS = NO;
DEAD_CODE_STRIPPING = YES;
DEBUG_INFORMATION_FORMAT = dwarf;
FRAMEWORK_SEARCH_PATHS = "$(SRCROOT)/mhk/build/$(CONFIGURATION)";
GCC_ALTIVEC_EXTENSIONS = YES;
GCC_AUTO_VECTORIZATION = NO;
GCC_C_LANGUAGE_STANDARD = c99;
GCC_DEBUGGING_SYMBOLS = full;
GCC_DYNAMIC_NO_PIC = YES;
GCC_ENABLE_CPP_EXCEPTIONS = YES;
GCC_ENABLE_CPP_RTTI = YES;
GCC_ENABLE_FIX_AND_CONTINUE = NO;
GCC_ENABLE_OBJC_EXCEPTIONS = YES;
GCC_ENABLE_OBJC_GC = unsupported;
GCC_ENABLE_SSE3_EXTENSIONS = YES;
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES;
GCC_ENABLE_SYMBOL_SEPARATION = NO;
GCC_FAST_MATH = NO;
GCC_FAST_OBJC_DISPATCH = YES;
GCC_GENERATE_DEBUGGING_SYMBOLS = YES;
GCC_OPTIMIZATION_LEVEL = s;
GCC_PRECOMPILE_PREFIX_HEADER = YES;
GCC_PREPROCESSOR_DEFINITIONS = __STDC_LIMIT_MACROS;
GCC_SYMBOLS_PRIVATE_EXTERN = YES;
GCC_THREADSAFE_STATICS = NO;
GCC_TREAT_WARNINGS_AS_ERRORS = YES;
GCC_WARN_ABOUT_MISSING_NEWLINE = YES;
// FIXME: GLee generates prototype warnings
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO;
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES;
LINKER_DISPLAYS_MANGLED_NAMES = NO;
MACOSX_DEPLOYMENT_TARGET = 10.4;
PREBINDING = NO;
SEPARATE_STRIP = YES;
USER_HEADER_SEARCH_PATHS = $(USER_HEADER_SEARCH_PATHS) "$(SRCROOT)"
WARNING_CFLAGS = -Wall -Wcast-align -Wchar-subscripts -Wformat -Wformat-security -Wmissing-format-attribute -Wpointer-arith -Wno-format-y2k -Wno-unused-parameter;
