FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) "$(SRCROOT)";
GCC_PREFIX_HEADER = RXBase.pch;
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) __STDC_LIMIT_MACROS RIVENX;
INFOPLIST_FILE = Riven X-Info.plist;
INSTALL_PATH = $(USER_APPS_DIR)
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) "$(SRCROOT)/llvm/lib";
PRODUCT_NAME = Riven X;
WRAPPER_EXTENSION = app;
